# More Pandas

### Load and prepare the data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('COVID Case Data.csv')
df

,STATE,TOTAL CASES 200617,BLACK CASES 200617,HISPANIC CASES 200617,WHITE CASES 200617,BLACK CI 200617,HISPANIC CI 200617,WHITE CI 200617,TOTAL CASES 200622,BLACK CASES 200622,...,BLACK CI 200918,HISPANIC CI 200918,WHITE CI 200918,TOTAL CASES 200922,BLACK CASES 200922,HISPANIC CASES 200922,WHITE CASES 200922,BLACK CI 200922,HISPANIC CI 200922,WHITE CI 200922
0,IOWA,24263,2426,6544,14800,1922,3345,550,26050,2605,...,3613.0,5439.0,1949.0,78812,4729,11034.0,55168,3747,5641.0,2050
1,WASHINGTON,26531,1164,8440,7031,355,859,136,28680,1205,...,1016.0,2394.0,417.0,82548,3360,23739.0,21944,1026,2417.0,424
2,CALIFORNIA,109020,5043,61492,19424,196,396,134,173824,5485,...,874.0,2065.0,613.0,781694,23014,329643.0,91656,896,2123.0,630
3,MISSISSIPPI,20152,9785,1113,5198,870,1100,309,20641,10671,...,3245.0,2666.0,1894.0,94021,37153,2753.0,32946,3303,2721.0,1959
4,FLORIDA,80109,15300,28446,43000,510,673,427,100217,17900,...,3459.0,4576.0,2922.0,687909,105963,193268.0,302728,3532,4576.0,3009
5,GEORGIA,59078,15214,8896,12840,442,855,231,64701,16523,...,2264.0,3686.0,1913.0,307339,79483,39055.0,109892,2311,3753.0,1975
6,TENNESSEE,31830,6712,8242,13346,575,2155,265,34102,7312,...,2851.0,6371.0,1882.0,184409,33954,24653.0,98566,2908,6446.0,1958
7,NORTH CAROLINA,45853,8169,13610,17118,351,1352,260,52801,8963,...,1511.0,4405.0,1303.0,195549,36123,44954.0,88190,1551,4465.0,1339
8,VIRGINIA,55775,7852,19032,11518,462,2323,219,58469,8257,...,1624.0,4042.0,735.0,142010,28335,33650.0,40061,1668,4107.0,763
9,MARYLAND,62409,18017,17020,12244,964,2707,401,64603,18657,...,2034.0,4155.0,959.0,120912,38481,26382.0,29945,2060,4196.0,981
10,MICHIGAN,66269,18861,4639,23101,1339,893,309,67711,19137,...,1813.0,1952.0,743.0,129662,25723,10373.0,57409,1827,1997.0,767
11,ILLINOIS,133639,22169,43441,26622,1198,1970,344,136762,22949,...,2042.0,3204.0,992.0,277266,38467,72296.0,80118,2079,3279.0,1036
12,OHIO,38911,9945,3127,19371,654,686,211,41578,11330,...,1935.0,634.0,859.0,145165,29284,8848.0,77911,1927,1941.0,847
13,PENNSYLVANIA,79483,10000,6300,23000,651,648,236,82168,10400,...,1280.0,1264.0,565.0,151646,19973,12511.0,56745,1300,1286.0,582
14,NEVADA,11658,815,3258,2509,262,365,167,13535,830,...,1516.0,2806.0,1041.0,76298,4784,25643.0,15966,1538,2871.0,1064
15,ARIZONA,30097,1045,10046,6892,282,437,174,54586,1382,...,1742.0,2834.0,1310.0,214846,6500,65664.0,52718,1751,2855.0,1331
16,UTAH,14937,470,6315,5125,1047,1387,205,17462,511,...,2941.0,4579.0,1127.0,65044,1366,21495.0,30229,3043,4722.0,1209
17,COLORADO,29442,1693,11356,10113,639,909,259,30539,1729,...,1071.0,1903.0,27.0,66053,2873,24446.0,24552,1085,1956.0,628
18,OKLAHOMA,8645,705,1584,5366,228,367,208,10733,826,...,1689.0,NaN,1623.0,79072,5666,NaN,44607,1836,NaN,1726
19,WISCONSIN,23198,4304,7638,12316,1103,1901,261,24819,4493,...,2664.0,4452.0,1401.0,104170,10613,18455.0,71579,2721,4594.0,1516
20,MAINE,2836,669,78,1697,3111,341,136,2957,719,...,4468.0,871.0,264.0,5146,966,201.0,3419,4492,880.0,273
21,OREGON,6098,214,2103,2644,231,375,83,6572,260,...,1104.0,2147.0,391.0,31313,1053,12285.0,12936,1135,2190.0,407
22,NEW JERSEY,167703,16283,28797,59436,1222,1574,1219,169142,16824,...,NaN,NaN,NaN,200580,21032,38603.0,48538,1579,2110.0,995

### Reshape the data from wide to long

In [8]:
def reshape_and_format(df, stubnames, i, j, dt_format):
    df_long = pd.wide_to_long(df, stubnames=stubnames, i=i, j=j, sep=' ').reset_index()
    #df_long[j] = pd.to_datetime(df_long[j], format(dt_format))
    return df_long

In [9]:
cases_stubnames = ['TOTAL CASES', 'BLACK CASES', 'HISPANIC CASES', 'WHITE CASES','BLACK CI',\
                   'HISPANIC CI', 'WHITE CI']
df_long = reshape_and_format(df, cases_stubnames, 'STATE', 'DATE', '%y%m%d')
df_long

,STATE,DATE,TOTAL CASES,BLACK CASES,HISPANIC CASES,WHITE CASES,BLACK CI,HISPANIC CI,WHITE CI
0,IOWA,200617,24263.0,2426.0,6544.0,14800.0,1922.0,3345.0,550.0
1,WASHINGTON,200617,26531.0,1164.0,8440.0,7031.0,355.0,859.0,136.0
2,CALIFORNIA,200617,109020.0,5043.0,61492.0,19424.0,196.0,396.0,134.0
3,MISSISSIPPI,200617,20152.0,9785.0,1113.0,5198.0,870.0,1100.0,309.0
4,FLORIDA,200617,80109.0,15300.0,28446.0,43000.0,510.0,673.0,427.0
...,...,...,...,...,...,...,...,...,...
639,OKLAHOMA,200922,79072.0,5666.0,NaN,44607.0,1836.0,NaN,1726.0
640,WISCONSIN,200922,104170.0,10613.0,18455.0,71579.0,2721.0,4594.0,1516.0
641,MAINE,200922,5146.0,966.0,201.0,3419.0,4492.0,880.0,273.0
642,OREGON,200922,31313.0,1053.0,12285.0,12936.0,1135.0,2190.0,407.0
643,NEW JERSEY,200922,200580.0,21032.0,38603.0,48538.0,1579.0,2110.0,995.0